# Python virtual environment
venv/

# Compiled Python files
__pycache__/
*.pyc
*.pyo

# Model and scaler files
*.pkl
*.joblib
*.h5

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Log and temp files
*.log
*.tmp
